header{
  display: flex;
  justify-content: space-between;
  button{
    width: 3rem;
    height: 3rem;
  }

  .shopping{
    display: flex;
  }

  .cart-count{
    margin-left: -15px;
    z-index: 99999;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .logo-container{
    display: flex;
    align-items: center;
    img{
      max-width: 3.35rem;
      max-height: 3.35rem;
      color: var(--primary);}
  }

  }




