html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: var(--gray-1);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p,
span {

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

strong {

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

h2 {

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}


