main{
  background-color: var(--gray-2);
  height: 100%;
  min-width: 480px;

  header{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button{
      color: var(--gray-4);
    }
  }

  .products{
    height: calc(100% - 244px);
    overflow: auto;
    padding: 1rem 3rem 0 3rem;
    h1{
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }

  footer{
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;

    .infos{
      display: flex;
      flex-direction: column;
    }
    .quantity{
      display: flex;
      justify-content: space-between;

      span:first-child{
        font-size: 1rem;
      }
      span:last-child{
        font-size: 1.12rem;
      }
    }
    .total{
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;

      span:first-child{
        font-size: 1.12rem;
        font-weight: bold;
      }

      span:last-child{
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    button{
      margin-top: 3rem;
      height: 3rem;
      background-color: var(--primary);
    }
  }
}
